include ../mixins/mixins

<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{pageTitle}
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.9/cropper.min.css')
        link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css', integrity='sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh', crossorigin='anonymous')
        link(rel="stylesheet", href="/css/main.css")
        link(rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 24 24%22 fill=%22%23FF6F61%22><path d=%22M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z%22/></svg>")

    body
        script.
            var userLoggedIn = !{userLoggedInJs};
        .wrapper
            .row
                nav.col-2
                    a.blue(href="/") EmpathAI
                        i.fas.fa-hands-helping
                    a(href="/")  Home 
                        i.fas.fa-home
                    a(href="/search") Search
                        i.fas.fa-search
                    a(href="/notifications") Notifications
                        i.fas.fa-bell
                        span#notificationBadge
                    a(href="/messages") Messages
                        i.fas.fa-envelope
                        span#messagesBadge
                    a(href="/profile") My Profile 
                        i.fas.fa-user
                    a(href="/messages/66c0e43216afe09f3843f8cc") EmpathAI Bot 
                        i.fas.fa-comment-dots
                    a(href="/logout") Logout
                        i.fas.fa-sign-out-alt
                .mainSectionContainer.col-10.col-md-8.col-lg-6
                    .titleContainer
                        h1 #{pageTitle}
                        block headerButton

                    block content

                .d-none.d-md-block.col-md-2.col-lg-4
                    .sidebar-links
                        .link-item
                            //- i.fas.fa-heart
                            h3 Some Useful links
                        .link-item
                            i.fas.fa-heart
                            a(href="https://www.mind.org.uk" target="_blank") Mind UK
                        .link-item
                            i.fas.fa-hands-helping
                            a(href="https://www.cruse.org.uk" target="_blank") Cruse Bereavement Care
                        .link-item
                            i.fas.fa-phone
                            a(href="https://www.samaritans.org" target="_blank") Samaritans
                        .link-item
                            i.fas.fa-headset
                            a(href="https://www.relate.org.uk" target="_blank") Relate UK
                        .link-item
                            i.fas.fa-user-md
                            a(href="https://www.mentalhealth.org.uk" target="_blank") Mental Health Foundation
                        .link-item
                            i.fas.fa-bullhorn
                            a(href="https://www.youngminds.org.uk" target="_blank") Young Minds
                        .link-item
                            i.fas.fa-book
                            a(href="https://www.griefencounter.org.uk" target="_blank") Grief Encounter
                        .link-item
                            i.fas.fa-child
                            a(href="https://www.childbereavementuk.org" target="_blank") Child Bereavement UK
                        .link-item
                            i.fas.fa-users
                            a(href="https://www.sobs.org.uk" target="_blank") Survivors of Bereavement by Suicide (SOBS)
                        .link-item
                            i.fas.fa-hands
                            a(href="https://www.crisistextline.uk" target="_blank") Crisis Text Line UK

                        #notificationList

        script(src='https://kit.fontawesome.com/85404227e2.js' crossorigin='anonymous')
        script(src='https://code.jquery.com/jquery-3.5.1.min.js', integrity='sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=', crossorigin='anonymous')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.9/cropper.min.js')
        script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js', integrity='sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo', crossorigin='anonymous')
        script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js', integrity='sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6', crossorigin='anonymous')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js')

        block scripts

        script(src="/js/common.js")
        script(src="/js/clientSocket.js")

